:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  background-color: #f2f3f5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --lawyer-orane: #FB8500;
  --lawyer-yellow: #FFB703;
  --lawyer-dark-blue: #023047;
  --lawyer-bright-blue: #219EBC;
  --lawyer-light-blue: #8ECAE6;
  --white: #fff

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  margin: 0;
}

